<!DOCTYPE html>
<html>

<head>
  <title>Picbait</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="load-image/load-image.all.min.js"></script>
  <script>
    FontAwesomeConfig = {
      autoReplaceSvg: 'nest'
    }
  </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <%= yield %>
</body>

</html>